<% provide(:title, "About") %>
<h1>About</h1>
<p>

     This is a site to document volunteer work done.<br/>

     If you need any help, please send an <a href="mailto:info@yepnetwork.org">email</a>
</p>
