<footer class="footer">
  <small>
       Internal Use Only
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <!-- <li><%= link_to "Contact", contact_path %></li> -->
      <li><a href="mailto:info@yepnetwork.org">Email Us</a></li>
      <li><a href="http://yepnetwork.org/programs//">Programs</a></li>
    </ul>
  </nav>
</footer>
